<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <payment>
            <domitaigateway>
                <payment_action>authorize</payment_action> <!-- You can use another method -->
                <model>Domitai\PaymentGateway\Model\PaymentMethod</model>
                <active>1</active>
                <title>Domitai Payment</title>
                <order_status>pending_payment</order_status><!-- set default order status-->
            </domitaigateway>
        </payment>
    </default>
</config>